body {
	padding-top: 50px;
}
body.loading {
	overflow: hidden;

}

body.loading .loadingAnim {
	display: block;
}

body {
	font-family: "Open Sans", sans-serif;
}


.navbar{
	border-bottom: 1px solid #eee;
	min-height: 40px;
	background-color: white;
}

a {
	color: black;
}

a:hover {
	color: gray;
}
.content {
	padding: 50px 15px;
	text-align: center;
}

@media screen and (min-width: 1200px) {
	h1.banner{
		letter-spacing: 145px;
	}
	h1.welcomeBanner{
		letter-spacing: 100px;
	}
}
@media screen and (min-width: 1000px) {

	.modal-dialog {
		width:900px;
	}
}



h1.banner {
	font-size: 100px;
	letter-spacing: 20px;
}



#back-2 {
	float:left;
}

#back-3 {
	float:left;
}
div.line {
	border-bottom: 1px solid #eee;
}

.bfh-selectbox .bfh-selectbox-options {

	margin: -1px 15 0;
	width: 96%;

}
.bfh-selectbox .bfh-selectbox-options ul {
	max-width: 100%
}



div.loadingAnim{
	display:none;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba( 255, 255, 255, .8 )
				url("http://i.imgur.com/3Mn42O6.gif")
				50% 50%
				no-repeat;
}
a.events {
	color: blue;
}

h1.welcomeBanner{
	font-size: 75px;
	letter-spacing: 40px;
}
#registration-div {
	padding-top: 10px;
}
.modal-body {
    padding: 15px 15px 0px 15px;
}

.back {
	float: left;
}

#study {
	border-color:#ddd;
	border-width: 1px;
	border-style:solid;
	border-radius: 4px 4px;
	padding-bottom: 10px;
	width:100%;
}

.wide {
  width:100%;
  height:500px;
  background-image:url('bg.jpg');
  background-size:cover;
}