






<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stolen.css">

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="scrollReveal.js"></script>

 <div class="container">
    <div class="content">
        <div class="wide">
            <div class="welcome">
                <h1>Welcome to Gunn DECA</h1>
                <a href="/signup" class="btn-custom btn btn-default"><span class="fa fa-user"></span>Register</a>
                <a href="/login" class="btn-custom btn btn-default"<span class="fa fa-user"></span>Login</a>
            </div>
                
        </div>
        <div>
        <h4>More coming soon...</h4>
        </div>
    </div>
</div>
